<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<style>
			body {
				font-family: Helvetica;
			}

			p,
			h5 {
				margin: 0;
			}

			.campagnesContainer {
				display: flex;
				gap: 20px;
				align-items: flex-start;
			}

			.campagnesContainer img {
				max-width: 150px;
			}

			.bg {
				background-color: #000;
				color: #fff;
				width: fit-content;
			}
		</style>
	</head>
	<body>
		<h1>Shareprint</h1>
		<h2 class="bg">Your order is on its way!</h2>
		<p>Hello
			{{ name }}, your order has been deposited and received by post, you can track your order by clicking on the following url:
			<a href={{ campagneOrders|first.purchase.shipCode }}>Click here !</a>
		</p>
		<br>

		<h3>Delivery address</h3>
		<p>{{campagneOrders|first.purchase.customerFirstname}}
			{{campagneOrders|first.purchase.customerLastname}}</p>
		<p>{{campagneOrders|first.purchase.customerAddress}}</p>
		<p>{{campagneOrders|first.purchase.customerCity}}</p>
		<p>{{campagneOrders|first.purchase.customerZip}}</p>
		<p>{{campagneOrders|first.purchase.customerCountry}}</p>
		<br>
		<h4>Details of the order :</h4>
		{% for campagneOrder in campagneOrders %}
			<div class="campagnesContainer">
				<div>
					<img src="http://127.0.0.1:8000/images/campagnes/{{ campagneOrder.campagne.user.id ~ '/' ~ campagneOrder.campagne.fileSource }}.png" alt="" srcset="">
				</div>
				<div>
					<h5>{{ campagneOrder.campagne.nameProject }}</h5>
					<p>Quantity :
						{{ campagneOrder.quantity }}</p>
					<p>Weight :
						{{ campagneOrder.campagne.weight.weight }}</p>
					<p>Size :
						{{ campagneOrder.campagne.size.name }}</p>
					<p>Paper :
						{{ campagneOrder.campagne.paper.name }}</p>
				</div>
				<br/>
			</div>
			<br>
			<p>Total Price :
				{{campagneOrders|first.purchase.totalPrice}}€</p>
		{% endfor %}


	</body>
</html>
